<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PrintPDFFile</servlet-name>
        <servlet-class>sample.servlet.PrintPDFFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryPage</servlet-name>
        <servlet-class>sample.servlet.LoadCategoryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCheckoutPage</servlet-name>
        <servlet-class>sample.servlet.LoadCheckoutPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>sample.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrintPDFFile</servlet-name>
        <url-pattern>/PrintPDFFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadHomePage</servlet-name>
        <servlet-class>sample.servlet.LoadHomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadHomePage</servlet-name>
        <url-pattern>/LoadHomePage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoadDetailPage</servlet-name>
        <servlet-class>sample.servlet.LoadDetailPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadDetailPage</servlet-name>
        <url-pattern>/LoadDetailPage</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/LoadHomePage</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoadCategoryPage</servlet-name>
        <url-pattern>/LoadCategoryPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCheckoutPage</servlet-name>
        <url-pattern>/LoadCheckoutPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
